Repository rafaelfl/express-typescript-auth: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: rename service to a proper name
  src/__tests__/auth/profile.test.ts
  src/controllers/authController/logoutController.ts
  src/middleware/passport.ts
  src/services/tokenBlockListService.ts
Due: eslint --fix, prettier --write

v0.9.10
  package.json
Due: prettier --write

docs: add project description and documentation
  .env.example
  .env.test
  README.md
  resources/db-diagram.svg
  resources/session-flow.png
Due: none

v0.9.11
  package.json
Due: prettier --write

docs: update image urls to the GH raw links
  README.md
Due: none

docs: fix README toc link
  README.md
Due: none

docs: fix README toc links
  README.md
Due: none

docs: rename authentication api
  README.md
Due: none

docs: improve README text
  README.md
Due: none

v1.0.0
  package.json
Due: prettier --write

docs: update database image link
  README.md
Due: none

v1.0.1
  package.json
Due: prettier --write

chore: add coveralls to GH actions pipeline
  .github/workflows/coveralls.yml
Due: none

fix: update tokens expiration in unit tests
  .env.test
Due: none

fix: manually set the tokens expiration in tests
  src/__tests__/auth/login.test.ts
  src/__tests__/auth/refreshToken.test.ts
Due: eslint --fix, prettier --write

v1.0.2
  package.json
Due: prettier --write

docs: create LICENSE
  LICENSE
Due: none

v1.0.3
  package.json
Due: prettier --write

chore: update README to include GH star msg
  README.md
Due: none

chore: update README
  README.md
Due: none

chore: update README.md
  README.md
Due: none

chore: update mongoose version
  package.json
  yarn.lock
Due: prettier --write

v1.0.4
  package.json
Due: prettier --write

fix: allow CORS on localhost project
  src/app.ts
Due: eslint --fix, prettier --write

feat: add CORS with dynamic origin
  src/app.ts
Due: eslint --fix, prettier --write

docs: include CORS and rafaelf domain info
  README.md
Due: none

chore: update yarn.lock file
  yarn.lock
Due: none

fix: add get data validator to page & size params
  docs/swagger/auth-api.yaml
  src/__tests__/data/getPaginatedData.test.ts
  src/middleware/validators.ts
  src/services/airbnbDataService.ts
Due: eslint --fix, prettier --write

feat: return review_scores attrib to airbnb data
  src/database/model/airbnbDataModel.ts
  src/services/airbnbDataService.ts
  src/types/airbnbData.ts
  yarn.lock
Due: eslint --fix, prettier --write

v1.1.0
  package.json
Due: prettier --write

fix: update successful message text
  src/constants.ts
Due: eslint --fix, prettier --write

v1.1.1
  package.json
Due: prettier --write

chore: add robots.txt to avoid page indexing
  public/robots.txt
Due: none

Path conditions:
  eslint --fix: any of: src/**/*.{js,ts,jsx,tsx}
  prettier --write: ((any of: src/**/*.{js,ts,jsx,tsx}) or (any of: *.json)) or (any of: *.css)
