Repository rafaelfl/express-typescript-auth: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.{js,ts,jsx,tsx}": ["eslint --fix", "prettier --write"],
  "*.json": ["prettier --write"],
  "*.css": ["prettier --write"]
}

feat: add HTTP logging to server and some refactor
  .eslintrc.json
  .gitignore
  package.json
  src/app.ts
  src/config/index.ts
  src/constants.ts
  src/controllers/hello/helloController.ts
  src/helpers/errorHandler.ts
  src/helpers/index.ts
  src/helpers/logger.ts
  src/helpers/response.ts
  src/helpers/utils.ts
  src/middleware/http-logger.ts
  src/routes/index.ts
  src/types/error.ts
  src/types/express/index.d.ts
  src/util/index.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat: add login, logout, refresh, protected routes
  package.json
  src/app.ts
  src/config/index.ts
  src/constants.ts
  src/controllers/auth/authController.ts
  src/controllers/protected/protectedController.ts
  src/database/IDatabase.ts
  src/database/fakeDB.ts
  src/helpers/index.ts
  src/helpers/response.ts
  src/helpers/token.ts
  src/helpers/utils.ts
  src/middleware/authValidator.ts
  src/middleware/http-logger.ts
  src/middleware/passport.ts
  src/middleware/validators.ts
  src/routes/auth.ts
  src/routes/hello.ts
  src/routes/index.ts
  src/routes/protected.ts
  src/services/userService.ts
  src/services/userTokenService.ts
  src/types/error.ts
  src/types/express/index.d.ts
  src/types/index.ts
  src/types/jwtPayload.ts
  src/types/user.ts
  src/types/userToken.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

feat: add createAccount and register routes
  src/constants.ts
  src/controllers/adminController.ts
  src/controllers/authController.ts
  src/controllers/helloController.ts
  src/controllers/index.ts
  src/controllers/protectedController.ts
  src/controllers/utils/asyncWrapper.ts
  src/genPasswordHash.ts
  src/helpers/hashPassword.ts
  src/helpers/index.ts
  src/middleware/validators.ts
  src/routes/admin.ts
  src/routes/auth.ts
  src/routes/index.ts
Due: eslint --fix, prettier --write

v0.1.1
  package.json
Due: prettier --write

feat: connect the API to a MongoDB instace
  .dockerignore
  .env.example
  .eslintrc.json
  docker-compose.yml
  eslintrc.json
  jest.setup.js
  package.json
  src/app.ts
  src/config/index.ts
  src/constants.ts
  src/controllers/authController.ts
  src/database/IDatabase.ts
  src/database/fakeDB.ts
  src/database/index.ts
  src/database/model/userModel.ts
  src/database/model/userTokenModel.ts
  src/genPasswordHash.ts
  src/helpers/token.ts
  src/services/userService.ts
  src/services/userTokenService.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat: use passport to verify refresh token
  src/constants.ts
  src/middleware/authValidator.ts
  src/middleware/passport.ts
Due: eslint --fix, prettier --write

fix: remove duplicated access token code verify
  src/controllers/authController.ts
  src/helpers/token.ts
  src/middleware/authValidator.ts
Due: eslint --fix, prettier --write

v0.2.0
  package.json
Due: prettier --write

chore: configure build and docker
  .dockerignore
  Dockerfile
  docker-compose.yml
  package.json
  src/database/index.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

v0.2.1
  package.json
Due: prettier --write

chore: reconfigure package.json scripts
  package.json
  tsconfig.json
Due: prettier --write

v0.2.2
  package.json
Due: prettier --write

chore: update rootDir in tsconfig
  tsconfig.json
Due: prettier --write

chore: update Dockerfile to the new script format
  Dockerfile
Due: none

v0.2.3
  package.json
Due: prettier --write

chore: update dev script
  package.json
Due: prettier --write

fix: use secretOrKeyProvider in passport
  src/middleware/passport.ts
Due: eslint --fix, prettier --write

fix: load dotenv file before passport config
  .eslintrc.json
  docker-compose.yml
  jest.config.ts
  jest.setup.ts
  src/app.ts
  src/config/index.ts
  src/middleware/passport.ts
  tsconfig.json
Due: eslint --fix, prettier --write

v0.3.0
  package.json
Due: prettier --write

feat: implement refresh token rotation scheme
  package.json
  src/app.ts
  src/constants.ts
  src/controllers/authController.ts
  src/database/index.ts
  src/helpers/index.ts
  src/helpers/token.ts
  src/helpers/tokens.ts
  src/middleware/authVerifier.ts
  src/middleware/passport.ts
  src/routes/admin.ts
  src/routes/auth.ts
  src/routes/protected.ts
  src/services/userTokenService.ts
  src/types/express/index.d.ts
  src/types/user.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

v0.4.0
  package.json
Due: prettier --write

feat: add blacklist feature using Redis
  .env.example
  src/app.ts
  src/config/index.ts
  src/constants.ts
  src/controllers/authController.ts
  src/helpers/utils.ts
  src/middleware/authVerifier.ts
  src/middleware/passport.ts
  src/redisDatabase/index.ts
  src/routes/admin.ts
  src/routes/auth.ts
  src/routes/protected.ts
  src/services/tokenBlackListService.ts
Due: eslint --fix, prettier --write

v0.5.0
  package.json
Due: prettier --write

feat: add profile endpoint
  src/constants.ts
  src/controllers/authController.ts
  src/middleware/passport.ts
  src/routes/auth.ts
Due: eslint --fix, prettier --write

v0.5.1
  package.json
Due: prettier --write

feat: add update profile & refactor authController
  src/constants.ts
  src/controllers/authController.ts
  src/controllers/authController/index.ts
  src/controllers/authController/loginController.ts
  src/controllers/authController/logoutController.ts
  src/controllers/authController/profileController.ts
  src/controllers/authController/refreshTokenController.ts
  src/controllers/authController/registerController.ts
  src/database/model/userModel.ts
  src/middleware/validators.ts
  src/routes/auth.ts
  src/services/userService.ts
  src/types/user.ts
Due: eslint --fix, prettier --write

v0.5.2
  package.json
Due: prettier --write

feat: implemented admin user management
  src/constants.ts
  src/controllers/adminController.ts
  src/controllers/authController/loginController.ts
  src/controllers/authController/profileController.ts
  src/middleware/validators.ts
  src/routes/admin.ts
  src/services/userService.ts
Due: eslint --fix, prettier --write

v0.5.3
  package.json
Due: prettier --write

refactor: update profile and admin endpoint return
  src/constants.ts
  src/controllers/adminController.ts
  src/controllers/authController/profileController.ts
  src/services/userService.ts
Due: eslint --fix, prettier --write

v0.5.4
  package.json
Due: prettier --write

test: add login and hello controller tests
  .env.test
  .eslintrc.json
  jest.config.ts
  jest.setup.ts
  package.json
  src/__tests__/auth/login.test.ts
  src/__tests__/hello/hello.test.ts
  src/__tests__/sample.ts
  src/helpers/__mocks__/logger.ts
  src/services/userTokenService.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

v0.5.5
  package.json
Due: prettier --write

test: add logout controller endpoint tests
  jest.config.ts
  jest.setup.ts
  src/__tests__/auth/login.test.ts
  src/__tests__/auth/logout.test.ts
Due: eslint --fix, prettier --write

v0.5.6
  package.json
Due: prettier --write

test: add logout redis errors test cases
  src/__tests__/auth/logout.test.ts
  src/controllers/authController/logoutController.ts
  src/middleware/authVerifier.ts
Due: eslint --fix, prettier --write

test: add profile controller test cases
  jest.config.ts
  jest.setup.ts
  src/__tests__/auth/login.test.ts
  src/__tests__/auth/profile.test.ts
  src/controllers/authController/profileController.ts
Due: eslint --fix, prettier --write

v0.5.7
  package.json
Due: prettier --write

test: add protected controller test cases
  src/__tests__/protected/protected.test.ts
Due: eslint --fix, prettier --write

v0.5.8
  package.json
Due: prettier --write
