Repository rafaelfl/express-typescript-auth: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/**/*.{js,ts,jsx,tsx}": ["eslint --fix", "prettier --write"],
  "*.json": ["prettier --write"],
  "*.css": ["prettier --write"]
}

test: add profile controller test case
  src/__tests__/auth/logout.test.ts
  src/__tests__/auth/profile.test.ts
  src/__tests__/protected/protected.test.ts
  src/middleware/authVerifier.ts
Due: eslint --fix, prettier --write

test: add register controller test cases
  src/__tests__/auth/logout.test.ts
  src/__tests__/auth/register.test.ts
Due: eslint --fix, prettier --write

v0.5.9
  package.json
Due: prettier --write

test: add refresh token controller test cases
  src/__tests__/auth/refreshToken.test.ts
  src/middleware/authVerifier.ts
  src/services/userTokenService.ts
Due: eslint --fix, prettier --write

v0.5.10
  package.json
Due: prettier --write

test: add create user admin controller test cases
  src/__tests__/admin/create.test.ts
  src/middleware/validators.ts
  src/routes/admin.ts
Due: eslint --fix, prettier --write

test: add get user admin controller test cases
  src/__tests__/admin/getUser.test.ts
  src/controllers/adminController.ts
Due: eslint --fix, prettier --write

test: increase the login controller coverage
  src/__tests__/auth/login.test.ts
Due: eslint --fix, prettier --write

test: add update user admin controller test cases
  src/__tests__/admin/updateUser.test.ts
Due: eslint --fix, prettier --write

test: add delete user admin controller test cases
  src/__tests__/admin/deleteUser.test.ts
  src/controllers/adminController.ts
Due: eslint --fix, prettier --write

test: add get all user admin controller test cases
  src/__tests__/admin/create.test.ts
  src/__tests__/admin/getAllUsers.test.ts
  src/__tests__/admin/getUser.test.ts
  src/__tests__/admin/updateUser.test.ts
  src/__tests__/hello/hello.test.ts
  src/controllers/adminController.ts
  src/database/index.ts
  src/helpers/utils.test.ts
  src/helpers/utils.ts
Due: eslint --fix, prettier --write

v0.6.0
  package.json
Due: prettier --write

fix: include render domain to CORS config
  src/app.ts
Due: eslint --fix, prettier --write

chore: add cors package and enable all cors
  package.json
  src/app.ts
  yarn.lock
Due: eslint --fix, prettier --write

v0.7.0
  package.json
Due: prettier --write

docs: include swagger with hello and auth routes
  .husky/pre-commit
  docs/swagger/auth-api.yaml
  package.json
  src/__tests__/auth/profile.test.ts
  src/app.ts
  src/controllers/authController/profileController.ts
  src/routes/auth.ts
  src/routes/index.ts
  yarn.lock
Due: eslint --fix, prettier --write

docs: add protected endpoints to swagger
  docs/swagger/auth-api.yaml
  src/__tests__/admin/create.test.ts
  src/__tests__/admin/updateUser.test.ts
  src/__tests__/auth/login.test.ts
  src/__tests__/auth/profile.test.ts
  src/__tests__/auth/register.test.ts
  src/__tests__/hello/hello.test.ts
  src/__tests__/protected/protected.test.ts
  src/controllers/helloController.ts
  src/controllers/protectedController.ts
  src/middleware/validators.ts
Due: eslint --fix, prettier --write

v0.8.0
  package.json
Due: prettier --write

docs: add admin protected endpoints
  docs/swagger/auth-api.yaml
  src/__tests__/admin/createAccount.test.ts
Due: eslint --fix, prettier --write

v0.8.1
  package.json
Due: prettier --write

feat: add cascade delete of tokens on user delete
  src/__tests__/admin/deleteUser.test.ts
  src/database/model/userModel.ts
  src/services/userService.ts
Due: eslint --fix, prettier --write

v0.9.0
  package.json
Due: prettier --write

feat: add get sample data endpoint
  src/controllers/dataController.ts
  src/controllers/index.ts
  src/database/model/airbnbDataModel.ts
  src/routes/data.ts
  src/routes/index.ts
  src/services/airbnbDataService.ts
  src/types/airbnbData.ts
Due: eslint --fix, prettier --write

v0.9.1
  package.json
Due: prettier --write

test: add get paginated data unit tests
  .eslintrc.json
  src/__tests__/data/getPaginatedData.test.ts
  src/controllers/dataController.ts
  src/middleware/validators.ts
  src/mocks/index.ts
  src/mocks/mockAirbnbData.ts
  src/routes/data.ts
  src/services/airbnbDataService.ts
Due: eslint --fix, prettier --write

v0.9.2
  package.json
Due: prettier --write

feat: add get single Airbnb sample data endpoint
  docs/swagger/auth-api.yaml
  src/__tests__/data/getData.test.ts
  src/constants.ts
  src/controllers/dataController.ts
  src/database/model/airbnbDataModel.ts
  src/middleware/validators.ts
  src/routes/data.ts
  src/services/airbnbDataService.ts
  src/types/airbnbData.ts
Due: eslint --fix, prettier --write

v0.9.3
  package.json
Due: prettier --write

chore: add a comment to the Swagger YAML file
  docs/swagger/auth-api.yaml
Due: none

v0.9.4
  package.json
Due: prettier --write

v0.9.5
  package.json
Due: prettier --write

fix: update tests to avoid to connect to mongodb
  jest.setup.ts
  src/__tests__/admin/deleteUser.test.ts
  src/database/index.ts
  src/database/model/userModel.ts
  src/services/userService.ts
Due: eslint --fix, prettier --write

chore: update docker to include redis & fix build
  .dockerignore
  .env.example
  Dockerfile
  docker-compose.yml
Due: none

v0.9.6
  package.json
Due: prettier --write

v0.9.7
  package.json
Due: prettier --write

chore: mongodb setup (create database and user)
  .env.example
  .env.test
  .eslintignore
  Dockerfile
  docker-compose.yml
  jest.config.ts
  mongo-init.js
Due: none

v0.9.8
  package.json
Due: prettier --write

feat: add helmet to increase Express security
  package.json
  src/app.ts
  yarn.lock
Due: eslint --fix, prettier --write

v0.9.9
  package.json
Due: prettier --write
